body {
  margin: 0;
  padding: 0;
  background-color: #ddd;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.container {
  width: 75%;
  margin: 100px auto;
}
.back-div {
  background-color: gray;
  margin: 1em 0 1em 1em;
  padding: 0.5em;
}
.front-div {
  text-align: left;
  background-color: #fff;
  margin: -1em 0 0 -1em;
  padding: 1.5em;
}
.end-line {
  width: 80px;
  height: 8px;
  margin-top: 40px;
  margin-bottom: 20px;
  background-color: #f04600;
}